body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
background-color: white;
  }
 
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
.my-navbar{
  background-image: linear-gradient(-90deg, red, yellow) !important;
  margin-bottom: 8px;
  width: 100%;
  padding: 0px;
}
.my-nav{
  display: flex;
  align-content: center !important;
}
.logo{
  font-size: 35px;
  color: rgb(6, 31, 145) !important;
  font-weight: bold;
  font-style: oblique;
  font-family: serif;
  text-shadow: 2px 2px 10px yellow;
}
.logo:hover{
  text-decoration: none;
  text-shadow: 0px 0px 5px rgb(185, 30, 3);
}
.logo-span{
  font-size: 40px;
  color: rgb(37, 0, 250);
  font-weight: bold;
  font-style: oblique;
  font-family: cursive;
}
.nav-item{
  color: rgb(6, 31, 145) !important;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}
.nav-item:hover{
  text-decoration: none;
  color: white !important;  /* text-shadow: 2px 2px 5px rgb(185, 30, 3); */
}
.slider-image{
  max-width: 100%;
 min-height: 160px;
}
.card{
  display: flex;
  width: 307px !important;
  border: none;
  margin: 10px 0px 10px 0px;
}
.card:hover{
 border-radius: 15px;
 box-shadow: 0px 0px 14px rgb(70, 69, 69);

}
.card-img{
  display: flex;
  width: 290px !important;
  height: 170px !important;
  margin: 10px 0px 0px 14px;
  justify-content: center !important;
  align-items: center !important;
}
.card-img:hover{
  margin: 0px;
  width: 100% !important;
  height: 180px !important;
  border-radius: 15px;
}
.card-text{
  height: 49px;
  overflow: hidden;
  color: black;
}
.cat-area{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-image: linear-gradient(90deg,  rgb(226, 225, 225), rgb(201, 201, 201));
}
.cat-posts{
  display: flex;
overflow: hidden;
flex-direction: column;
height: 406px;
  justify-content: space-between;
}
.cat-cards{
  display: flex;
  flex-direction: row;


}
.cat-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgb(230, 230, 230);
}
.footer{
  display: flex;
  background-image: linear-gradient(-90deg, rgb(138, 1, 1), rgb(138, 138, 2)) !important;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.all-card{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.all-card-title{
  display: flex;
}
.all-card-box{
  display: flex;
  align-items: center;
  /* margin-right: -20px; */
  flex-direction: column;
}
.all-card-margin{
  display: flex;
  margin-right: 10px;
}
.login-area{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 0% 16% 0%;
}
.login-form{
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgb(7, 7, 7);
  background-color: rgb(34, 34, 97);
  border-radius: 10px;
  display: flex;
  width: 364px !important;
  max-width: 500px !important;
  height: 180px;
  flex-direction: column;
  justify-content: space-between;
}
.signup-form{
  padding: 20px;
  margin: 20px;
  background-color: rgb(34, 34, 97);
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 0px 10px rgb(7, 7, 7);
  width: 364px !important;
  height: 280px;
  flex-direction: column;
  justify-content: space-between;
}

.offer-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin:8% 0%; 

}
.left-pane{
  display: flex;
}
.detail-img{
  display: flex;
}
.right-pane{
  display: flex;
  width: 460px;
  flex-direction: column;
}
.login-error{
  display: flex;
  justify-content: center;
  color: rgb(224, 22, 22);

}
.signed-in-links{
  display: flex;
  align-items: center;
}
.profile-name{
  display: flex;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(-90deg, red, yellow) !important;
  border-radius: 50%;
  padding: 10px;
  margin: -10px 10px -10px 10px; ;
  /* border: 1px  yellow; */
}
.view-all{
  display: flex;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  font-weight: bold;
  margin: 10px 0px 0px 20px;
  color: black;
  background-image: linear-gradient(90deg, red, yellow) !important;

}
.view-all:hover{
  text-decoration: none;
  color: black;
  background-image: linear-gradient(-90deg, red, yellow) !important;
 
}
.card-link{
  text-decoration: none;
}
.card-link:hover{
  text-decoration: none;
}
.view-this{
  background-color: rgb(3, 20, 95) !important;
}
.view-this:hover{
  background-color: rgb(5, 30, 145) !important;
}
.post-title{
  color: rgb(3, 20, 95) !important;
  font-weight: bold;
  font-size: 20px;
}
.post-price{
  color: rgb(216, 6, 6);
  font-weight: bold;
}
.price-p{
  color: rgb(3, 20, 95) !important;
  font-weight: bold;
}
.create-post{
  display: flex;
  width: 500px;
  flex-direction:column;
}
.create-post-area{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.create-post-btn{
  background-color: rgb(3, 20, 95) !important;
}
.create-post-btn:hover{
  background-color: rgb(5, 30, 145) !important;
}


